
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; Qilong Wang</small><br>
    <a href="https://github.com/andres0703/campshared.git">github</a>
  </div>
</footer>

</body>
</html>
