<!DOCTYPE HTML>
<html>
    <header>
        <title>CAMPSHARED</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-136674607-2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dat aLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-136674607-2');
        </script>
    </header>
    
    <body class="d-flex flex-column">
      <div id="page-content">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">CAMPSHARED</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <% if (!curUser) { %>
                            <li><a href="/login">Log in</a></li>
                            <li><a href="/register">Sign Up</a></li>
                        <% } else { %>
                            <li><a href="#">logged in as <%= curUser.username %></a></li>
                            <li><a href="/logout">Log out</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
          <% if (message && message.length > 0) { %>
            <div class="alert alert-danger" role="alert">
              <%= message %>
            </div>
          <% } %>
        </div>
