<% include partials/header %>

    <div class="container" >
        <header class="jumbotron">
            <h2>WELCOME TO YELPCAMP</h2>
        </header>
        <div style="text-align:center">
          <a href="/camps"><span style="text-align:center">VIEW CAMPS NOW</span></a>
        </div>
    </div>

<% include partials/footer %>
