<% include partials/header %>

    <div class="container">
        <header class="jumbotron">
            <h2>CAMP DISPLAY</h2>
        </header>

		<h1>Hello~~~</h1>

		<a href="/camps">View Camps Now!</a>

    </div>

<% include partials/footer %>