html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.background {
  color: black;
}

#delete-form {
  display: inline;
}

.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full, .caption {
  padding: 9px;
}

#username, #more-info {
  padding: 9px;
}
